djangorestframework
markdown
crispy-bootstrap5
django-filter
Django==4.1.*
djangorestframework-api-key==2.*
django-axes
django-crispy-forms
django-timezone-field
mysqlclient
nessclient
gunicorn
pytz
django-environ