{% extends "base-template.html" %}

{% load static %}

{% block header %}
    <link href="{% static "ness/style.css" %}" rel="stylesheet">
{% endblock header %}

{% block content %}

    <div class="card mx-auto">
        <h5 class="card-header text-center">Available Zones</h5>

        <div class="d-grid gap-2 text-center p-3">
            <button type="button" name="" id="arming_state" disabled=1 class="btn btn-warning btn-lg btn-block">ARMING
                STATE UNKNOWN
            </button>

            <button type="button" name="" id="alarm_state" disabled=1 class="btn btn-success btn-lg btn-block">SIREN
                STATE UNKNOWN
            </button>
        </div>

        {% for zone in zones %}

            <h6 {% if zone.hidden %}hidden {% endif %}>

                    <span class="badge rounded-pill text-bg-warning mx-3"
                          name="zone_indicator"
                          data-bs-toggle="tooltip" data-bs-placement="left" title="Unkonwn State"
                          id="zone_indicator_{{ zone.zone_id }}">{{ zone.zone_id }}</span>
                {{ zone }}

                <button class="badge rounded-pill text-bg-warning mx-3 text-uppercase border-0" style="float: right;"
                        name="zone_exclude" zone_id={{ zone.zone_id }} zone_name="{{ zone }}"
                        id="zone_exclude_{{ zone.zone_id }}" onclick="openAckModal(this)">Exclude
                </button>

            </h6>

        {% endfor %}

        <div class="d-grid text-center p-3">
            <button type="button" name="" id="arm_alarm" data-bs-toggle="modal" data-bs-target="#armModal"
                    class="btn btn-warning btn-lg btn-block text-uppercase">User Keypad
            </button>
        </div>
    </div>

    <!-- Keypad Modal -->
    <div class="modal fade" id="armModal" tabindex="-1" aria-labelledby="armModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="armModalLabel">User Keypad</h5>
                </div>

                <div class="modal-body">
                    <div class="d-grid gap-5 text-center pb-3">

                        {% if user.enable_panic_mode %}
                            <!-- Content visible only to superusers -->
                            <button onclick="openPanicModal(this, false)" open_ack_modal="true" type="button" name="panic_button" id="panic" arming_cmd="P"
                                    class="text-uppercase btn btn-danger btn-lg btn-block">
                                <span class="spinner-border spinner-border-sm" name="arm_spinner" id="arm_home_spinner"
                                      role="status" aria-hidden="true" hidden></span>
                                PANIC
                            </button>

                            <hr class="my-4 border border-dark border-2 opacity-50">

                        {% endif %}

                        <button onclick="arming(this, false)" type="button" name="arm_button" id="arm_away"
                                arming_cmd="A" class="text-uppercase btn btn-danger btn-lg btn-block">
                            <span class="spinner-border spinner-border-sm" name="arm_spinner" id="arm_away_spinner"
                                  role="status" aria-hidden="true" hidden></span>
                            Away
                        </button>

                        <button onclick="arming(this, false)" type="button" name="arm_button" id="arm_home"
                                arming_cmd="H" class="text-uppercase btn btn-danger btn-lg btn-block">
                            <span class="spinner-border spinner-border-sm" name="arm_spinner" id="arm_home_spinner"
                                  role="status" aria-hidden="true" hidden></span>
                            Home
                        </button>

                        <button onclick="arming(this, true)" type="button" name="disarm_button" id="disarm"
                                arming_cmd="" class="text-uppercase btn btn-success btn-lg btn-block">
                            <span class="spinner-border spinner-border-sm" name="arm_spinner" id="disarm_spinner"
                                  role="status" aria-hidden="true" hidden></span>
                            Disarm
                        </button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Ack Modal -->
    <div class="modal fade" id="ackModal" tabindex="-1" aria-labelledby="ackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ackModalLabel">Acknowledgment Required!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="ackModalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cancel
                    </button>
                    <button type="button" id="ackModalBtnApply" onclick=manual_exclude(this)
                            class="btn btn-danger text-uppercase" disabled>
                        <span class="spinner-border spinner-border-sm" name="ack_spinner" id="ack_spinner" role="status"
                              aria-hidden="true" hidden></span> Apply
                    </button>

                </div>
            </div>
        </div>
    </div>

    {% if user.enable_panic_mode %}

        <!-- Panic Ack Modal -->
        <div class="modal fade" id="ackPanicModal" tabindex="-1" aria-labelledby="ackModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">Confirm panic alarm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>The <b class="text-uppercase fa-bold">Panic Alarm</b> is a serious feature on the NESS alarm panel and should only be used in emergencies involving serious harm or threat.</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                          <button onclick="openPanicModal(this, true)" trigger_panic_alarm="true" type="button" class="btn btn-danger text-uppercase">Set off the alarm</button>
                          <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">NO, GO BACK</button>
                    </div>
                </div>
            </div>
        </div>

     {% endif %}

    <div class="modal fade" id="connectivity" tabindex="-1" aria-labelledby="connectivityModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content progress-bar-striped bg-warning">

                <div class="modal-body">
                    <p>Waiting for Server...</p>

                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>

        var isArming = false;

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        updateZones();
        checkExclusion();
        updateNESSSecurityPanelStatus();
        setInterval(updateZones, 500);
        setInterval(updateNESSSecurityPanelStatus, 500);
        setInterval(checkForConectivity, 1000);
        setInterval(checkExclusion, 5000);

        function checkExclusion() {
            $.get("{% url 'api-system-status-list' %}",
                {
                    'check_exclusions': true
                },

                function (data, status) {
                });
        }

        function checkForConectivity() {

            try {
                $.get("{% url 'api-ness_comms-app-list' %}",
                    {},
                    function (data, status) {
                        if (data.connection_valid) {
                            $('#connectivity').modal('hide');
                        }

                    })
                    .fail(function () {
                        $('#connectivity').modal('show');
                    });

            } catch (e) {
                $('#connectivity').modal('show');
            }


        }

        function updateZones() {
            $.get("{% url 'api-ness_comms-zones-list' %}",
                function (data, status) {

                    data.forEach(e => {

                        let zone_status = document.getElementById("zone_indicator_" + e.zone_id)
                        let exclude_status = document.getElementById("zone_exclude_" + e.zone_id)

                        if (e.sealed === 1) {
                            zone_status.setAttribute("class", "badge rounded-pill text-bg-success mx-3");
                            zone_status.setAttribute("data-bs-original-title", "Ready");
                        } else if (e.sealed === 0) {
                            zone_status.setAttribute("class", "badge rounded-pill text-bg-danger mx-3");
                            zone_status.setAttribute("data-bs-original-title", "Sensor Triggered");
                        } else {
                            zone_status.setAttribute("class", "badge rounded-pill text-bg-warning mx-3");
                            zone_status.setAttribute("data-bs-original-title", "Status Unknown");
                        }
                        if (e.excluded) {
                            zone_status.setAttribute("class", "badge rounded-pill text-bg-info mx-3");
                            zone_status.setAttribute("data-bs-original-title", "Excluded");

                            exclude_status.innerHTML = "Include"

                        } else {
                            exclude_status.innerHTML = "Exclude"
                        }

                    });

                });

        }

        function updateNESSSecurityPanelStatus() {
            $.get("{% url 'api-system-status-list' %}",
                {
                    'latest_arm_state': true
                },

                function (data, status) {
                    let arm_btns = document.getElementsByName("arm_button");
                    let disarm_btns = document.getElementsByName("disarm_button");

                    if (isArming) {
                        document.getElementById("disarm_spinner").setAttribute("hidden", "");
                    } else {
                        document.getElementById("arm_away_spinner").setAttribute("hidden", "");
                        document.getElementById("arm_home_spinner").setAttribute("hidden", "");
                    }

                    data.forEach(e => {
                        var arming_state = document.getElementById("arming_state")
                        var alarm_state = document.getElementById("alarm_state")

                        if (e.is_armed_away) {
                            arming_state.innerHTML = "ARMED AWAY"
                        } else if (e.is_armed_home) {
                            arming_state.innerHTML = "ARMED HOME"
                        } else if (e.is_disarmed) {
                            arming_state.innerHTML = "DISARMED"
                        } else {
                            arming_state.innerHTML = "ERROR"
                        }

                        if (e.alarm_siren_on) {
                            alarm_state.setAttribute("class", "btn btn-lg btn-block text-uppercase btn-danger");
                            alarm_state.innerHTML = "SIREN ACTIVE"
                        } else {
                            alarm_state.setAttribute("class", "btn btn-lg btn-block text-uppercase btn-success");
                            alarm_state.setAttribute("hidden", true);
                            alarm_state.innerHTML = "SIREN IN STANDBY"
                        }

                        if (e.is_disarmed) {
                            arming_state.setAttribute("class", "btn btn-lg btn-block text-uppercase btn-success");
                            arming_state.setAttribute("data-bs-original-title", "Ready");

                            arm_btns.forEach(b => {
                                b.removeAttribute("hidden");
                            });

                            disarm_btns.forEach(b => {
                                b.setAttribute("hidden", "");
                            });

                        } else if (e.is_armed_home || e.is_armed_away) {
                            arming_state.setAttribute("class", "btn btn-lg btn-block text-uppercase btn-danger pulse");
                            arming_state.setAttribute("data-bs-original-title", "Ready");

                            arm_btns.forEach(b => {
                                b.setAttribute("hidden", "");
                            });

                            disarm_btns.forEach(b => {
                                b.removeAttribute("hidden");
                            });

                        } else {
                            arming_state.setAttribute("class", "btn btn-lg btn-block text-uppercase btn-warning");
                            arming_state.setAttribute("data-bs-original-title", "Ready");

                            arm_btns.forEach(b => {
                                b.setAttribute("hidden", "");
                            });

                            disarm_btns.forEach(b => {
                                b.removeAttribute("hidden");
                            });
                        }

                    });

                });
        }

        function manual_exclude(e) {

            // display spinner
            let spinner = e.firstElementChild;
            spinner.removeAttribute("hidden");

            e.setAttribute("disabled", "");

            fetch("{% url 'api-system-status-list' %}", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "input_command": true,
                    "manual_exclude_zone": true,
                    "single_exclude_cmd": true,
                    "zone_id": e.getAttribute("zone_id")
                })
            })
                .then(response => response.json())
                .then(response => {
                    spinner.setAttribute("hidden", "");

                    $('#ackModal').modal('toggle');
                })
        }

        function openAckModal(e) {

            document.getElementById("ackModalBtnApply").removeAttribute("disabled");

            document.getElementById("ackModalMessage").innerHTML = "Do you really want to toggle the exclude status of ZONE " + e.getAttribute("zone_id") +
                " (" + e.getAttribute("zone_name") + ")";

            document.getElementById("ackModalBtnApply").setAttribute("zone_id", e.getAttribute("zone_id"));

            $('#ackModal').modal('toggle');

        }

      {% if user.enable_panic_mode %}

        function openPanicModal(e, trigger) {
            if (e.getAttribute("open_ack_modal")) {
                $('#ackPanicModal').modal('toggle')
            }
            else if (e.getAttribute("trigger_panic_alarm")){
                fetch("{% url 'api-system-status-list' %}", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "input_command": true,
                    "panic": trigger
                })
            })
                .then(response => response.json())
                .then(response => {
                        console.log(JSON.stringify(response));

                         if (response.user_input_ack){
                            $('#ackPanicModal').modal('toggle')
                             alert("Panic alarm has been triggered!")
                         }

                    }
                )
            }
        }

      {% endif %}

        function arming(e, disarm) {

            isArming = !disarm; // Global var which is share with updateArmingState()

            // display spinner
            let spinner = e.firstElementChild;
            spinner.removeAttribute("hidden");

            fetch("{% url 'api-system-status-list' %}", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "input_command": true,
                    "arming": true,
                    "disarm": disarm,
                    "arming_cmd": e.getAttribute("arming_cmd")
                })
            })
                .then(response => response.json())
                .then(response => {
                        console.log(JSON.stringify(response));

                        if (response.user_input_ack)
                            spinner.setAttribute("hidden", true);
                        spinner.setAttribute("hidden", true);
                    }
                )
        }

    </script>


{% endblock content %}