{% extends "base-template-login.html" %}
{% load crispy_forms_tags static %}

{% block header %}
{% endblock header %}

{% block content %}

    <section id="cover" class="min-vh-100">

        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        
                        <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" style:"max-height: 50px">

                        <div class="px-2">
                            <form method="POST">
                                {% csrf_token %}

                                <fieldset class="form-group text-left">
                                    {{ form|crispy }}

                                    <small>
                                        Forgot your Password?
                                        <a class="ml-2 text-danger" href="{% url 'password_reset' %}">Reset Now!</a>
                                    </small>

                                </fieldset>

                                <div class="form-group">
                                    <button class="btn btn-outline-warning float-right" type="submit">Log In</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
