{% extends "base-template.html" %}

{% block header %}
    <link rel="stylesheet" href="{% static 'users/css/extras.css' %}">
{% endblock header %}

{% block content %}

    <main class="page">
        <section class="clean-block">
            <section class="block-heading">
                <div class="container text-center pt-5">
                    <h2 class="text-info">Logout successful!</h2>
                </div>
            </section>
        </section>
    </main>

{% endblock content %}
