{% extends "base-template-login.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div id="cover" class="min-vh-100 bg-dark">

            <div class="block-heading"></div>
            <div class="container">
                <div class="h2 text-center text-white">
                    An email with instructions has been sent to you to reset your password
                </div>
                <p class="text-center pt-5 alert-link"><a href="{% url 'home' %}">Go back to the login page</a></p>
            </div>

    </div>

{% endblock content %}
