{% extends "base-template-login.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <div id="cover" class="min-vh-100 bg-dark">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-truncate text-white">Reset Password</h1>
                        <div class="px-2">
                            <form method="POST">
                                {% csrf_token %}

                                <fieldset class="form-group">
                                    {{ form|crispy }}
                                </fieldset>

                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Rest Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
