{% extends "base-template-login.html" %}
{% load crispy_forms_tags static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'users/css/extras.css' %}">
{% endblock header %}

{% block content %}



    <div id="cover" class="min-vh-100 bg-dark">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">

                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">

                        <h4 class="pt-5">Reset your Password</h4>

                        <form method="POST">
                            {% csrf_token %}

                            <fieldset class="form-group text-left">
                                {{ form|crispy }}
                            </fieldset>

                            <div class="form-group pt-4">
                                <button class="btn btn-outline-warning float-right" type="submit">Reset Now!</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
